


#header{
width: 100%;
height: 112px; 
background: rgba(255,255,255,0);
}
#header .inner{
width: 100%;
max-width: 1100px;
margin: 0 auto; 
background: rgba(0, 0, 0, .2);
padding: 0 30px;
box-sizing: border-box;
}

.header-mob-menu{
display: none;
position: relative;
top:0;
left:0;
width: 100%;
height: 112px;
background: #fff;
text-align: center;
}
.header-mob-menu h1{
padding: 15px 0;
display: inline-block;
}
.header-mob-menu h1 a{}
.header-mob-menu h1 a img{width: 100%;}

.header-mob-menu .header-appBar{
display: block;
position: absolute;
width: 25px;
height: 17px;
background:  palevioletred;
top: 45px;
left: 20px;
}
.header-mob-menu .header-appBar .appbarBt{
width: 100%;
height: 100%;
position: relative;
display: block;
}
.header-mob-menu .header-appBar .appbarBt .appbar-line{
display: inline-block;
position: absolute;
width: 100%;
height: 2px;
background: #000;
top:0;
left: 0;    
}
.header-mob-menu .header-appBar .appbarBt .appbar-line1{top: 0;}
.header-mob-menu .header-appBar .appbarBt .appbar-line2{top: 50%;}
.header-mob-menu .header-appBar .appbarBt .appbar-line3{top: 100%;}

.header-mob-menu .header-shop-btn{
display: block;
position: absolute;
width: 22px;
right: 20px;
top: 30px;
}
.header-mob-menu .header-shop-btn a{
display: block;
position: absolute;
width: 40px;
height: 40px;
right: 10px;
top:10px;
background-image: url(/images/ico_gnb_mobile_new_store.jpg);
background-repeat: no-repeat;
}

aside{
text-align: right;
padding-top: 15px;
padding-bottom: 7px;
}
aside span{display: inline-block;}
aside span a{color: mediumseagreen;}

.header-logoNav{
width: 100%;
display: flex;
justify-content:space-between;
align-items: center;
}
.header-logoNav h1{}
.header-logoNav h1 a{}
.header-logoNav h1 a img{}

nav{}
nav .bg{}
nav .depth1{display: flex;}
nav .depth1 li{margin-left: 20px;}
nav .depth1 li a{
display: block;
font-size: 16px;
transition: .3s;
border-bottom: 1px solid rgba(255,255,255,0);
}
nav .depth1 li a:hover{border-bottom: 3px solid palegreen;}
nav .depth1 li .depth2{display: none;}
nav .depth1 li .depth2 li{}
nav .depth1 li .depth2 li a{}


#main{width: 100%;}
#section1{width: 100%;}
#section1 .inner{position: relative; width: 100%;}
.main_banner{width: 100%;}
.main_banner .swiper-button-next{right: 50px;}
.main_banner .swiper-button-prev{left: 50px;}

.swiper {width: 100%;height: 100%;position: relative;overflow: hidden;}
.swiper-slide {text-align: center;font-size: 18px;display: flex;justify-content: center;align-items: center;}
.swiper-slide img {display: block;width: 100%;height: 100%;object-fit: cover;}








@media screen and (max-width:1100px) {
    .header-mob-menu{ display: block;}
    aside{display: none;}
    .header-logoNav{display: none;}
}